# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS-specific files
.idea/
.vscode/
*.DS_Store

# Local data folders (never commit data)
input_images/
output_results/

# Intermediate debug outputs
debug_output/